@page
@model MidasTaxCalculatorSite.Pages.IndexModel


<script>
    function validateWeekend() {
        const dateValue = document.getElementById('buyDate').value;
        if (!dateValue) return true; // allow empty check to server

        const date = new Date(dateValue + "T00:00:00"); 
        const day = date.getDay(); // Local day: 0=Sunday, 6=Saturday

        if (day === 0 || day === 6) {
            alert("Buy Date cannot be a weekend day!");
            return false; // Block form submit
        }

        return true; // allow submit
    }
</script>

<h2>Add Stock</h2>


<form method="post">

    <label>Stock Code</label>
    <input asp-for="UserInput.StockCode" />

    <label>Buy Date</label>
    <input type="date" asp-for="UserInput.BuyDate" id="buyDate" required />

    <label>Share Amount</label>
    <input asp-for="UserInput.BuyAmount" />

    <label>Buy Price ($)</label>
    <input asp-for="UserInput.BuyPrice" />

    <button type="submit" onclick="return validateWeekend()">Add Stock</button>
</form>

@if (Model.CreatedStocks.Count > 0)
{
    <h3>Created Stocks:</h3>
    <ul>
        @foreach (var s in Model.CreatedStocks)
        {
            <li>@s.StockCode — Buy: @s.BuyPrice $ — Buy Date: @s.BuyDate.ToString("dd.MM.yyyy")</li>
        }
    </ul>

    <form method="post" asp-page-handler="CalculateTax">
        @for (int i = 0; i < Model.CreatedStocks.Count; i++)
        {
            <input type="hidden" asp-for="CreatedStocks[i].StockCode" />
            <input type="hidden" asp-for="CreatedStocks[i].BuyDate" />
            <input type="hidden" asp-for="CreatedStocks[i].BuyAmount" />
            <input type="hidden" asp-for="CreatedStocks[i].BuyPrice" />
            <input type="hidden" asp-for="CreatedStocks[i].CurrentPrice" />
        }

        <button type="submit">Calculate Tax</button>
    </form>
    <form method="post" asp-page-handler="Clear" style="margin-top:10px;">
        <button type="submit" style="background-color:#cc0000; color:white;">Clear All Stocks</button>
    </form>
}

@if (Model.TaxCalculated)
{
    <h3>Tax Calculation Result:</h3>
    <ul>
        @foreach (var s in Model.CreatedStocks)
        {
            <li>
                @s.StockCode — Buy Date: @s.BuyDate.ToString("dd.MM.yyyy") — Profit: @s.Profit.ToString("N2") TL - Min Tax Rate Applied: @s.MinTaxRateApplied.ToString("N2") TL
            </li>
        }
    </ul>

    <p style="font-weight:bold; margin-top:10px;">
        Total Tax: @Model.TotalTax.ToString("N2") TL
    </p>
}